/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

/* collors */

:root{
	--white:white;
    --yellow:yellow;
	--black:black;
    --darkblue:rgb(33, 4, 95);    
    --lightgray:lightgray;
}

.black{
	color:var(black);
}

.white{
	color:var(--white);
}

.yellow{
	color: var(--yellow);
}

.j center{
	display: flex;
	justify-content: center;
}


/* Default Elements */


body {
	font-family: "font2";
	background-image: url(https://static.vecteezy.com/system/resources/previews/006/418/800/original/burger-hand-drawn-seamless-pattern-free-vector.jpg);
	background-repeat: repeat;
	background-size: 250px;
   

}

.restoname{
	font-family: font1;
}

.homebutton{
	position: fixed;
	top: 160px;
	right: 20px;

  }

  .fa-solid{
	font-size: 70px;
	position:relative;
	top:10px;
	right:-750px;


  }

  .fa-arrow-up{
	font-size: 70px;
	position: fixed;
	top:250px;
	right:15px;
  }


  a i{
	background-color: var(--black);
  }


.h1center{
	position: relative;
	left: 430px;
	top: 180px;	
	padding: 20px 0 30px 0;
	font-size: 3rem;
	border-radius: 50%;
	background-color: var(--black);
	padding: 40px ;
	display: inline-block;
	color: white;
	transition: all .7s;
}

h2{
	font-size: 1.5rem;
}

.drfoto{
border-radius: 7%;
height: 580px;
width: 500px;

}


.bgfoto{
	border-radius: 7%;
	width: 500px;
	height: 500px;
}
.logo{

	width: 100px;
	height: 100px;
	margin-top: 3px;

}

p{
font-size: 1.3rem;
color: black;

}

p1{
font-size: 1.3rem;
color: black;

}

a {
  text-decoration: none;
}

h1 {
	display: flex;
	align-self: center;
	padding: 20px 0 30px 0;
	font-size: 3rem;
	border-radius: 100px;
	background-color: var(--black);
	padding: 25px ;
	display: inline-block;
	color:var(--yellow);
	transition: all .7s;
   
}

.text{
	border: 1px solid black;
	border-radius: 30px;
	background-color:var(--yellow);
	text-align: center;
	padding-top: 30px;
	color: var(--black);
	
	}
 
	.map{
     
	 border-radius: 30px;
     
	}

/* Custom */
.should{
	border-radius: 40px;
	background-color:var(--black);
	position: relative;
	left: 160px;
}

.location{
	display: grid;
	display:inline-block;
    background-color: var(--white);
	
	
}




.number {
display: inline-block;
position: relative;
left: 950px;
bottom: 100px;
font-size: 2rem;
border-radius: 20px;
background-color:var(--black);
color:var(--white);
padding: 15px;
margin-bottom: 30px;
}


	.mail{
		display: inline-block;
     position: relative;
	 left: 1150px;
	 font-size: 2rem;
     border-radius: 20px;
	 background-color: var(--black);
	 color:var(--white);
	 padding: 15px;
	}




.linethru{
	text-decoration: line-through;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}



header {
	background-color: var(--black);
	box-shadow: 1px 1px var(--black);
	width: 100%;
	display: block;

}


header > div {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
}

nav ul {
	padding: 20px 0;
	display: flex;
	gap: 65px;
	width: 100%;
	color:var(--yellow);

}

nav ul li a p {
	border: 1px solid var(--black);
	background-color: var(--black);
	border-radius: 10%;
	padding: 3px;
	transition: all .7s;
	color:var(--yellow);

}


header a{
	left: 10px;
}

form a{
	text-decoration: underline;
	color:var(--black);
	text-align: center;
}

.ordercenter{
	position: relative;
	left: 0;
}

.delivery{
	position: relative;
	left: 500px;
	display: inline-block;
	font-size: 1.5rem;
	border-radius:5% ;
	background-color:var(--white);
	padding: 20px;
    margin-bottom: 50px;
}

.extra{
	text-align: center;
	position: relative;
	left: 500px;
	display: inline-block;
	font-size: 1.5rem;
	border-radius:5% ;
	background-color: var(--lightgray);
	padding: 20px;
    margin-top: 50px;
}

.signin3{

position: relative;
	left: 90;
	display: inline-block;
	font-size: 1.5rem;
	border-radius 20px; ;
	background-color:var(--yellow);
	padding: 10px;
    margin: 10px;
	margin-bottom: 70px;
}

.signin2 {
    position: absolute;
    left: 70px;
}

.signin{
	position: relative;
	left: 90;
	display: inline-block;
	font-size: 1.5rem;
	border-radius:20px ;
	background-color:var(--lightgray);
	padding: 10px;
    margin: 10px;
	
}

#burgers {
	margin-bottom: 50px;
}

#burgers .dsp {
		display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px; 
	
	

}


#burgers .dsp p{
	align-self: flex-end;
	padding-bottom: 100px;
}

#burgers .dsp a{
	align-self: flex-end;
	padding-bottom: 50px;

}

.order{
background-color:var(--black);
border-radius: 40px;
padding: 10px;
transition: all .65s;
background-color: var();

}


.chikenburgers{
display: flex;
justify-self: flex-start;

}
/* animations */


.order:hover{
background-color:var(--black) ;
border-radius:50% ;
}

nav ul li a p:hover{
padding: 7px;

}

h1:hover{
padding: 35px;
}

.h1center:hover{
	padding: 60px;
	
	}



.burger > div {
	width: 35px;
	height: 5px;
	background-color: var(--black);
	margin: 6px 0;
}

.burger {
	display: none;
}

.animation{
	position: relative;
	margin-left: 20px;
    height: 100px;
    width: 100px;
    background-color: blue;
	animation-name: animation;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
    left: 600px;

}

 

@keyframes animation {
	0% {
		left: 0;
		background-color:var(--black);
	   border-radius: 50%;
	  }
	50% {
		left: 500px;
		background-color:var(--yellow);
		transform: rotate(360deg);
		border-radius: 50%;
		
	  }

	  
	  100% {
		left: 0;
		background-color:var(--black);
		border-radius: 50%;
	  }
	}


	.animation > p{
		position: absolute;
		top: 38px;
		left: 30px;
	  }


	  .animation > p1{
		position: absolute;
		top: 38px;
		left: 23px;
	  }


/*FONTS*/

@font-face {
	font-family:font1 ;
	src: url(fonts/Courgette-Regular.ttf);
}


@font-face {
	font-family:font2;
	src: url(fonts/Neuton-Regular.ttf);
}








	
/* Responsive */

@media screen and (max-width:850px) {
	.burger{
		display: block;
	}

	#burgers .dsp{
		position: relative;
	display: grid;
	gap: 20px;
	margin-bottom: 400px;




}

@keyframes animation {
	0% {
		left: 0;
		background-color:var(--black);
	   border-radius: 50%;
	  }
	50% {
		left: 190px;
		background-color:var(--yellow);
		transform: rotate(360deg);
		border-radius: 50%;
		
	  }

	  
	  100% {
		left: 0;
		background-color:var(--black);
		border-radius: 50%;
	  }
	}

 
	.animation > p{
		position: absolute;
		top: 38px;
		left: 30px;
	  }


	  .animation > p1{
		position: absolute;
		top: 38px;
		left: 23px;
	  }


	.bgfoto{
	border-radius: 7%;
	width:250%;
	
	}

	.drfoto{
		border-radius: 7%;
		width:250%;
	}

.text{
    position: absolute;
	top:550px ;
	border: 1px solid black;
	border-radius: 20px;
	background-color:var(--yellow);
	text-align: center;
	padding-top: 20px;
	color: var(--black);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:30px;
	width: 65%;
	height: 45%;
	
	}

	.order{
	
		background-color:var(--black);
		border-radius: 30%;
		padding: px;
		transition: all .65s;
		
		}

		.homebutton{
			position: fixed;
			top: 160px;
			right: -1px;
		    width: 30px;
			height: 30px;
			font-size: 1.7rem;
			
		}

		nav ul {
			padding: 20px 0;
			display: flex;
			gap: 30px;
			width: 100%;
		
		}

		h1 {
			display: flex;
			align-self: center;
			padding: 20px 0 30px 0;
			font-size: 2rem;
			border-radius: 30px;
			background-color: var(--black);
			padding: 25px ;
			display: inline-block;
			color:var(--yellow);
			transition: all .7s;
		
			
		}
        

		.locationtext{
			background-color: var(--white);
			display: inline-block;
			border-radius: 20px;
		}

		.location{
			display: grid;
			display:inline-block;
			background-color:var(--white);
			
			
		}

		.map{
     
			border-radius: 30px;
			width:100%;
		
			
		   }


		   .number {
			display: inline-block;
			position: relative;
			left: 150px;
			bottom: -300px;
			font-size: 2rem;
			border-radius: 20px;
			background-color:var(--black);
			color:var(--white);
			padding: 15px;
			
			}


			.mail{
			 display: inline-block;
			 position: relative;
			 left: 90px;
			 bottom: -250px;
			 font-size: 2rem;
			 border-radius: 20px;
			 background-color:var(--black);
			 color:var(--white);
			 padding: 15px;
			}
		
			form a{
				text-decoration: underline;
				color:var(--black);
				text-align: center;

			}

			
			.extra{
				text-align: center;
				position: relative;
				left:5px;
				display: inline-block;
				font-size: 1rem;
				border-radius:5% ;
				background-color:var(--lightgray);
				padding: 10px;
				margin-top: 50px;
				margin-bottom: 30px;
		        width: 93%;
		
			}



			.ordercenter{
				position: relative;
				left: 18px;
			}
			

			.should{
				border-radius: 10%;
				background-color:var(--black);
				position: relative;
				left: 0;
				margin: 40px;
				
			}

			.signin2 {
				position: absolute;
				left: 0;
				margin: 70px;
				margin-top: 0;
			}
			


			.h1center{
				position: relative;
				left: 0px; 
				top: 180px;
				display: flex;
				padding: 20px 0 30px 0;
				font-size: 2rem;
				border-radius: 30px;
				background-color: var(--black);
				padding: 40px ;
				display: inline-block;
				color:var(--white);
				transition: all .7s;
				margin: 50px;
			}

          
			.fa-solid{
				font-size: 70px;
				position:relative;
				top:-175px;
				right:-280px;
			
			
			  }
          

			  .fa-arrow-up{
				font-size: 70px;
				position: fixed;
				top:250px;
				right:15px;
			  }
			

		}










































